.button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: grey;
}

.button:hover {
    background-color: lightblue;
    transform: scale(1.5);
}

.button-inner {
    padding: 0 2px;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}