#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 5rem;
    font-family: 'Rampart One', cursive;
}

#home h1, h2, a {
    margin: 0 auto;
}

a[href="/levels"] {
    height: 40px;
    margin-top: 20px;
    color: white;
}

#play-game {
    width: 100%;
    height: 100%;
    padding: 1%;
}