nav {
    display: flex;
    justify-content: center;
}

.nav-link-container {
    padding: 1%;
}

.nav-link {
    color: grey;
    text-decoration: none;
}

.nav-link:hover {
    background-color: grey;
    color: white;
}