* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  background-color: lightgray;
  box-shadow: 5px 5px 5px lightgray;
  width: 20%;
  height: 100%;
  margin: 1%;
  border-radius: 5px;
  font-size: 100%;
}

@media screen and (max-width: 800px) {
  button {
    width: 20%;
  }
}

button:hover {
  cursor: pointer;
}

button:active {
  box-shadow: inset 5px 5px 10px darkgray;
}

p {
  letter-spacing: .1em;
  word-spacing: .2em;
}

.fingering-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.fingering-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.note-container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

#submit {
  width: 100%;
}

#next {
  display: flex;
  flex-direction: column;
}

#next-button, #play-again {
  width: 100%;
  margin-top: 10px;
}

.fingering-chart {
  display: flex;
  justify-content: space-between;
}

#next h3 {
  margin: 0 auto;
}